.spain {
    font-size: 10px;
    width: 90em;
    height: 60em;
    border: 1px solid #000000;
}
.red {
   height: 33.3%;
   background-color: red;
   box-sizing: border-box; 
   position: relative;
   right: 0%;
   
}
.white {
    height: 33.3%;
    background-color: white;
    box-sizing: border-box;
    position: relative;
    right: 0%;

}
.blue {
    height: 33.3%;
    background-color: blue;
    box-sizing: border-box;
    position: relative;
    left: 0%;
}